@charset "utf-8";
.container header {
    background-color: #5B5B5B;
}
.container header nav {
    background-color: #5B5B5B;
}
.container #hero {
    background-image: url(images/%E5%B0%81%E9%9D%A201.jpg);
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
	height:500px;

}
.container #about {
    background-image: -webkit-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(174,174,174,1.00) 100%,rgba(101,101,101,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(174,174,174,1.00) 100%,rgba(101,101,101,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(255,255,255,1.00) 0%,rgba(174,174,174,1.00) 100%,rgba(101,101,101,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(255,255,255,1.00) 0%,rgba(174,174,174,1.00) 100%,rgba(101,101,101,1.00) 100%);
}
.container .banner {
    background-image: url(images/%E5%B0%81%E9%9D%A202.jpg);
}
.container #contact {
    background-image: url(images/%E5%B0%8F%E5%A5%B3%E5%AD%A9.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    background-color: #ABABAB;
}
.container .copyright {
    background-color: #919191;
}
.container header nav {
    background-color: #919191;
}
.container header {
    background-color: #919191;
}
.container #hero .hero_header {
    color: #464646;
    font-size: 36px;
}
.container .banner .parallax_description {
    background-image: -webkit-linear-gradient(270deg,rgba(51,51,51,0.13) 0%,rgba(125,82,82,1.00) 100%);
    background-image: -moz-linear-gradient(270deg,rgba(51,51,51,0.13) 0%,rgba(125,82,82,1.00) 100%);
    background-image: -o-linear-gradient(270deg,rgba(51,51,51,0.13) 0%,rgba(125,82,82,1.00) 100%);
    background-image: linear-gradient(180deg,rgba(51,51,51,0.13) 0%,rgba(125,82,82,1.00) 100%);
}
